/* Global Var */

:root{
  --main-red: rgba(211, 9, 19, .9);
  --main-red-serialized: #fa3434;
  --main-dark: rgba(20, 20, 20);
  --main-deep-dark: rgba(0, 0, 0);
  --darked-grey: #303030;
  --main-grey: rgba(153, 153, 153, .5);
  --font-white: rgba(246, 245, 255);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body{
  width: 100%;
}
body{
  font-size: 100%;
  font-family: 'Helvetica';
  -webkit-font-smoothing: antialiased;
  background: var(--main-dark);
  color: var(--font-white);
}
a, li{
  color: inherit;
  text-decoration: none;
  list-style: none;
}
button{
  cursor: pointer;
  outline: none;
}